
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
    <h3>Практическое занятие. Урок 1.</h3>
    <a asp-controller="Employees">Сотрудники</a>
</body>
</html>
